<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <header>
        <br><h1>Welcome to Abasyn Online Infrmation Resource Center</h1><br><br>
        <nav>
            <ul>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/users">User List</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/createBook">Add Book</a></li>
                <li><a href="/viewBook">View Book</a></li>
                <li><a href="/borrowBook">Borrow Book</a></li>
                <li><a href="/borrowedBooks">view Borrowed Book</a></li>
                <li><a href="/returnBook">Return Book</a></li>
                

            </ul>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <footer>
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>
</body>
</html>
